.headLine {
}

.inputBox {
  display: block;
}

.idInput {
  display: block;
}

.passwordInput {
  display: block;
}

.confirm {
  display: block;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0 auto;
  margin-bottom: 0 auto;
  margin: 0 auto;
  width: 750px;
  height: 500px;
  background-color: red;
  border-radius: 10%;
  border: solid;
  border-color: black;
}
